.modal {
  background: var(--background-element);
  color: var(--foreground-primary);
  padding: 24px 24px 50px 30px;
  position: relative;
}

.modal__close {
  float: right;
  cursor: pointer;
}

.modal__close svg {
  width: 33px;
  height: 33px;
}

.modal-card {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.modal-card__container {
  max-width: 780px;
  box-sizing: border-box;
  padding: 30px 20px;
  background-color: var(--background-element);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
}

.modal-card__company {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Roboto Mono', monospace
}

.modal-card__name {
  color: currentColor;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin-top: 4px;
}

.modal-card__description {
  font-size: 20px;
  line-height: 26px;
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace
}

.modal-card__link {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal-card__link-image {
  margin-right: 6px;
  width: 20px;
  height: 20px;
}

.modal-card__link-text {
  color: var(--constant-accent);
  font-size: 20px;
  line-height: 26px;
  font-family: 'Roboto Mono', monospace;
}

.modal-card__tag {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  color: var(--constant-white);
}

.modal-card__tag-item {
  padding: 4px 8px;
  background-color: var(--constant-accent);
  border-radius: 8px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Roboto Mono', monospace;
  margin-right: 12px;
  margin-top: 4px;
}

.modal-card__rating {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.modal-card__rating-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
  font-family: 'Roboto Mono', monospace
}

.modal-card__rating-element:not(:last-child) {
  margin-right: 20px;
}

.modal-card__rating-image {
  margin-right: 6px;
  width: 20px;
  height: 20px;
}

@media (max-width: 744px) {
  .modal {
    height: 100vh;
    padding: 50px 40px;
  }

  .modal-card__container {
    padding: 0;
  }

  .modal__close {
    float: unset;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .modal-card {
    margin-top: 43px;
  }

  .modal-card__company {
    font-size: 16px;
    line-height: 21px;
  }

  .modal-card__description {
    font-size: 18px;
    line-height: 24px;
  }

  .modal-card__link-text {
    font-size: 18px;
    line-height: 24px;
  }

  .modal-card__tag-item {
    font-size: 16px;
    line-height: 21px;
  }

  .modal-card__rating-element {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 600px) {
  .modal__close svg {
    width: 20px;
    height: 20px;
  }
  .modal-card {
    margin-top: 14px;
    font-size: 14px;
    line-height: 18px;
  }
  .modal-card__name {
    font-size: 30px;
    line-height: 36px;
  }
}